.about {
    margin-top: 119px;
}
.about__description {
    text-align: center;
    margin: 50px auto 100px;
    
}
.about__items{
    display: flex;
    justify-content: space-between;
    background-color: #34547A;
    padding: 100px 0;
       
}
.about__inner{
    max-width: 1128px;
        margin: auto; 
}

.about__img {
    margin-right: 49px;
}
.about__img:last-child {
    margin-right: 0px;
}
 @media screen and (max-width:576px){
     .about__img{
         margin: auto;
     }
     .about__items{
         height: 365px;
         padding: 20px 0;
         text-align: center;
     }
 }